.note-container {
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .note-title {
    color: #333;
    font-weight: bold;
  }
  
  .note-media-type-movie {
    background-color: rgb(233, 57, 219);
    padding: 10px 15px;
    border-radius: 15px;
    display: inline-block;
    position: relative;
    max-width: 300px;
    font-family: Arial, sans-serif;
  }

  .note-media-type-album {
    background-color: rgb(246, 166, 47);
    padding: 10px 15px;
    border-radius: 15px;
    display: inline-block;
    position: relative;
    max-width: 300px;
    font-family: Arial, sans-serif;
  }

  .note-media-type-book {
    background-color: rgb(110, 244, 197);
    padding: 10px 15px;
    border-radius: 15px;
    display: inline-block;
    position: relative;
    max-width: 300px;
    font-family: Arial, sans-serif;
  }

  .note-score {
    background-color: var(--bubble-color, #007bff);
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    max-width: 300px;
    font-family: Arial, sans-serif;
  }
  
  .note-date {
    color: #999;
    font-size: 0.8rem;
  }
  
  .delete-button {
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .delete-button:hover {
    background-color: #d32f2f; /* Darker red */
  }